*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.name{
    font-size: 40px;
    font-weight: bold;
    color: #28100e !important;
    margin-left: 15px;
    position: relative;
    bottom: -5px;
}
.nav-link{
    font-weight: bolder;
    color: #28100e !important;
}
.text{
    font-size: 28px !important;
}
a:hover{
    color: white !important;
}
.logo{
    position: relative;
    top: -10px;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin: 30px 30px;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
.icons{
    text-align: center;
}
.icons > p{
    padding-bottom: 10px;
}
footer{
    background-color: #efaf1d;
    color: #28100e;
}
a{
    text-decoration: none;
}
.fa{
    padding: 15px;
    font-size: 32px;
    color: #28100e;
}
.heading{
    font-weight: bold;
    color: #28100e;
    margin: 30px;
    font-size: 72px;
    text-shadow: 2px 2px 4px #efaf1d;
    text-align: center;
}
.heading3{
    font-weight: bold;
    color: #28100e;
    margin: 30px;
    font-size: 40px;
    text-shadow: 2px 2px 4px #efaf1d;
    text-align: center;
}
.discription{
    font-size: 28px;
    padding: 30px;
    margin-left: 70px;
    margin-right: 70px;
    color: #efaf1d;
}
.title{
    font-weight: bold;
    color: #28100e;
    /* text-shadow: 2px 2px 4px #efaf1d; */
}
.detail{
    color: #efaf1d;
    font-weight: bold;
}
.card{
    width: 250px;
    height: 380px;
    margin-bottom: 30px;
}
.r2{
    width: auto;
    height: auto;
    margin-bottom: 30px;
}
.r3{
    width: auto;
    height: auto;
    margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
    .card{
        width: 100%;
        height: auto;
    }
    iframe{
        width: 100%;
        margin-left: 0% !important;
    }
}
.thanks{
    text-align: center;
}
.bold{
    color: #28100e;
    text-shadow: 2px 2px 4px #efaf1d;
}
* {
    box-sizing: border-box;
  }
  input[type=text], input[type=datetime-local], input[type=email], input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #efaf1d;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  .sub{
      float: none !important;
      margin-left: 44.5%;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  
  input[type=submit] {
    background-color: #efaf1d;
    color: #28100e;
    padding: 12px 20px;
    border: none;
    font-weight: bolder;
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #28100e;
    color: #efaf1d;
  }
  
  #reserve {
    border-radius: 5px;
    padding: 20px;
    color: #28100e;
    font-size: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-left: 25%;
    margin-top: 6px;
  }
  .col-35{
      margin-left: 46.5%;
  }
  .col-75 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  label{
      font-weight: bolder;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-35, .col-75, input[type=submit], .sub {
      width: 100%;
      margin-top: 0;
      margin-left: 0;
    }
  }
  